.room-bar {
    flex: 0 0 auto;
    width: 80px;
    flex-direction: column;
    display: flex;
}

.contact-bar {
    flex: 0 0 auto;
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-bar {
    flex: 0 0 auto;
    width: 65%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar {
    flex: 0 0 auto;
    width: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-bar {
    flex: 0 0 auto;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flex-col {
    flex-direction: column;
    display: flex;
}

:host {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid 0px yellow;
    /* for debugging purposes */
}

.logo {
    width: 70%;
    height: 60%;
    border-radius: 35%;
    padding: 0%;
    margin: 0px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #424242;
    border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2c2c2c;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1f1f1f;
}

.logo:hover {
    opacity: 80%;
}

.messages-block {
    height: 85%;
    max-height: 750px;
}

@media screen and (max-width: 1000px) {
    .contact-bar {
        flex: 0 0 auto;
        width: 20%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .main-bar {
        flex: 0 0 auto;
        width: 80%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .sidebar {
        flex: 0 0 auto;
        width: 0%;
        padding-top: 10px;
        padding-bottom: 10px;
        visibility: hidden;
    }


}

@media screen and (max-height: 700px) {
    .messages-block {
        height: 80%;
        max-height: 400px;
    }
}