<div class="container-fluid shakra-dark" style="height: 100vh; width: 100%; font-family: 'Karla'; ">
    <div class="row shakra-dark" style="height: 3vh"></div>
    <div class="row" style="height: 97vh">
        <app-room-bar class="col room-bar p-0 shakra-dark flex-col align-items-center"></app-room-bar>
        <div class="col ps-3 pe-3 p-0 contact-bar">
            <div class="row" style="    margin-bottom: 2px;
            height: calc(6% - 2px);">
                <app-search-bar class="col shakra-grey " style="border-radius: 8px 0px 0px 0px;">
                </app-search-bar>
            </div>
            <div class="row" style="height: 94%;">
                <app-friends-bar class="col shakra-grey pt-3"></app-friends-bar>
            </div>
        </div>
        <div class="col p-0">
            <div class="container-fluid" style="height: 100%">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>