<div class="d-flex align-items-center" style="height: 100%;">
    <p class="m-0 main-text">Friends</p>
    <div class="vl"></div>
    <div class="friend-options" routerLink="/" routerLinkActive="option-active">Online</div>
    <div class="friend-options" routerLink="/all" routerLinkActive="option-active">All</div>
    <div class="friend-options" routerLink="/pending" routerLinkActive="option-active">Pending</div>
    <div class="friend-options" routerLink="/add-friend" routerLinkActive="option-active"
        style="color: rgb(64, 199, 64);">Add
        Friends</div>
</div>