<div class="row pb-2 pt-2 friend-row">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <img [src]="imageSrc" alt="text" style="height: 40px;width: 40px; border-radius: 50%;">
            <p class="text-center m-0 ps-3 p-name">{{user.username}}</p>
        </div>
        <div class="d-flex align-items-center">
            <form>
                <input type="checkbox" (click)="toggleChecked()">
            </form>
        </div>
    </div>
</div>