:host:hover {
    background-color: rgba(128, 128, 128, 0.596);
}

:host {
    border-radius: 5px;
}

.btn-size {
    font-size: large;
}

@media screen and (max-width: 768px) {


    .btn-size {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {


    .btn-size {
        font-size: 10px;
    }
}