.message-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.text-col {
    width: 70px;
    flex: 0 0 auto;
}

.message-col {
    flex: 0 0 auto;
    width: calc(100% - 70px);
}

.username {
    font-size: 20px;
    font-weight: 600;
    font-style: oblique;
    display: contents;
}

:host {
    height: fit-content;
}

@media screen and (max-width: 768px) {
    .username {
        font-size: 15px;
    }
}


@media screen and (max-width: 480px) {}