:host {
    flex: 0 0 auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--shakra-main-grey);
    padding: 2%;
    height: 91vh;
}


.user-container {
    border: 1 solid black;
    height: 70vh;
}