html,
body {
    height: 100%;
}

:host {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid 0px yellow;
    /* for debugging purposes */
}